// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  width: 100%;
  height: 30px;  
}

textarea{  
  width: 100% !important; 
  height: 100px;
}
 
.form-group {
  .btn { 
    display: inline-block;
    float: right;
    margin-right: 2px;
   } 
}



